
            .subscribe{
                background-color: rgb(209, 10, 10);
                border: none;
                border-radius: 4px;
                color: white;
                padding: 15px 32px;
                
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor:pointer;
                margin-right: 8px;
                transition: opacity 0.20s
            }
            .subscribe:hover{
                opacity: 0.80;
            }
            .subscribe:active{
                opacity: 0.60;
            }
            .join{
                background-color: white;
                border-color: rgb(43, 43, 232);
                border-radius: 4px;
                border-style: solid;
                border-width: 1px;
                color: rgb(43, 43, 232);
                padding: 14px 30px;
                
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
                transition: background-color 0.20s,
                color 0.20s,
                border-color 0.20s;
            }
            .join:hover{
                
                background-color:rgb(43, 43, 232);
                color: white;
                border-color: white;
            }
            .join:active{
                transition-duration: 0.2s;
                opacity: 0.7;
                color: white;
                border-color: white;
            }
            .tweet{
                background-color:dodgerblue;
                height: 36px;
                width: 70px;
                border: none;
                border-radius: 18px;
                color: white;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-weight: bold;
                font-size: 16px;
                cursor:pointer;
                margin-left: 8px;
                transition: opacity 0.2s, 
                box-shadow 0.2s;
            }
            .tweet:hover{
                box-shadow: 0 5px 5px rgba(0,0,0,0.3);
                opacity: 0.9;
            }
            .tweet:active{
                
                opacity: 0.60;
                
            }
